* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#App {
  display: flex;
  flex-direction: row;
}

#CreateContact {
  padding: 1rem;
  margin: 3rem;
}
#formSubmit {
  text-align: center;
  display: block;
  width: 100%;
}
.form {
  padding: 2rem;
}

#ContactList {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  padding: 0.5rem;
  width: 25vw;
  overflow-wrap: break-word;
}
p {
  padding: 0.25rem;
}
